################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/misec7185.github.io/FileContentIndex
/.vs/misec7185.github.io/v17/DocumentLayout.backup.json
/.vs/misec7185.github.io/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
*.sqlite-journal
/.vs/slnx.sqlite
/.vs/misec7185.github.io/v17/.wsuo
